<!DOCTYPE html>
<html>

    <body>
        <hr/>
<form action="/movement"method="post">
    <label for="m_id">m_id</label><br>
    <input type="text"name="m_id"placeholder="m_id"/><br>

    <label for="time">time</label><br>
    <input type="text"name="time"placeholder="time"/><br>

    <label for="frm">frm</label><br>
    <input type="text"name="frm"placeholder="frm"/><br>

    <label for="to">to</label><br>
    <input type="text"name="to"placeholder="to"/><br>

    <label for="p_name">p_name</label><br>
    <input type="text"name="p_name"placeholder="p_name"/><br>

    <label for="p_qty">p_qty</label><br>
    <input type="text"name="p_qty"placeholder="p_qty"/><br>   

    <input type="submit"value="submit"/>
</form>
    </body>
  
  