<!DOCTYPE html>
<html>

    <body>
        <h3>add new product</h3>
        <hr/>
    <form action="{{request.path}}"method="post">
    <label for="id">id</label><br>
    <input type="text"name="id"placeholder="id"/><br>

    <label for="product">product</label><br>
    <input type="text"name="product"placeholder="product"/><br>

    <label for="qty">qty</label><br>
    <input type="text"name="qty"placeholder="qty"/><br>

    <input type="submit"value="submit"/>
</form>
    </body>
  
  